@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&family=Raleway&display=swap');

.main-background {
    position: absolute;
    left: 0;
    top: 0;
    /* opacity: 0.79; */
    width: 100%;
    height: auto;
    z-index: -1;
}

.title-name {
    height: 300px;
    display: flex;
    width: 75%;
    margin: 100px auto;
    align-items: center;
    border-radius: 3px;
}

h1 {
    font-family: 'Geologica', sans-serif;
    font-size: 60px;
}

.title-name p {
    margin: 0;
}

.title-photo {
    height: 150px;
    border-radius: 100%;
    margin: 0px 50px;
}

.title-blurb {
    background-color: #eeeeeec2;
    padding: 50px;
    width: 75%;
    border-radius: 3px;
    margin: 0 auto;
}

.title-button-row {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.title-button-blue {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #4ba6cd7f;
    color: #000;
    font-family: 'Geologica', sans-serif;
    font-size: 24px;
}

.title-button-white {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #eeeeeec2;
    color: #000;
    font-family: 'Geologica', sans-serif;
    font-size: 24px;
}

body {
    background: url("../images/luckysunset.jpg");
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .title-button-row {
        width: 100%;
        padding: 5%;
    }

    .title-button-blue, .title-button-white {
        height: 80px;
        width: 80px;
        font-size: 12px;
    }

    .title-name {
        width: 100%;
        height: auto;
        padding: 5%;
    }

    .title-name h1 {
        font-size: 30px;
    }

    .title-photo {
        height: 50px;
        width: 50px;
    }
}