@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&family=Raleway&display=swap');

.title-name {
    background-color: #65d1ffcf;
    color: #fff;
}

nav.navbar {
    background-color: transparent !important;
    font-weight: 900;
}

body {
    font-family: 'Raleway', sans-serif;
}

